body, html, .main {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main {
  background-color: #1e1f21;
  overflow: hidden;
  position: relative;
}
.text-container {
  left: 7%;
  border-bottom: 1px solid rgba(255,255,255, 0.25);
  position: absolute;
  display: inline-flex;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
}

.error1 .text,
.error2 .text,
.error3 .text {
  font-size: 264px;
}
.error1 {
  left: 35%;
}
.error1 .text {
  animation: movedown 30s linear infinite;
  animation-delay: -30s; 
}
.error1 .text:nth-child(2) {
  animation: movedown2 30s linear infinite;
  animation-delay: -15s; 
}

.error2 {
  left: 60%;
}
.error2 .text {
  animation: move 50s linear infinite;
  animation-delay: -50s; 
}
.error2 .text:nth-child(2) {
  animation: move2 50s linear infinite;
  animation-delay: -25s; 
}

.error3 {
  left: 87%;
}
.error3 .text {
  animation: movedown 30s linear infinite;
  animation-delay: -30s; 
}
.error3 .text:nth-child(2) {
  animation: movedown2 30s linear infinite;
  animation-delay: -15s; 
}
.error4 {
  left: 100%;
}

.text {
  white-space: nowrap;
  font-size: 100px;
  color: white;
/*   transform: rotate(-90deg); */
  white-space: nowrap;
  animation: move 30s linear infinite;
  animation-delay: -30s; 
  padding: 0 40px;
}
.text:nth-child(2) {
  animation: move2 30s linear infinite;
  animation-delay: -15s; 
}


@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes move2 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes movedown {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes movedown2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}