/* general reset */
@font-face {
	font-family: 'CABNDWebBold';
	src: url('../fonts/cabndwebbold-webfont.eot');
	src: local('CABNDWebBold'), 
	url('../fonts/cabndwebbold-webfont.woff') format('woff'), 
	url('../fonts/cabndwebbold-webfont.ttf') format('truetype'), 
	url('../fonts/cabndwebbold-webfont.svg#webfontpXeHfmR9') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {font-size: 100.01%;}
html {font-size: 62.5%;}
body{
	margin:0;
	font:50px Tahoma, Geneva, sans-serif;
	color:#000;
	background-color:#face30;
}

}
input,textarea,
select{
	font:120% Tahoma, Geneva, sans-serif;
	vertical-align: middle;
	color:#fff;
}
a{
	color:#bebebe;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
/* wrapper */
#wrapper{
	width:800px;
	margin:0 auto;
	padding:20px 0 0;
}
/* main */
#main{
	width:760px;
	margin:0 auto;
}
/* logo */


.title{
	margin:0 auto;
	width:760px;
	color:#000000;
}


.title h1{
	font-size:40px;
	line-height:48px;
	margin:0;
	float:left;
	font-family: 'CABNDWebBold', Arial, Helvetica, sans-serif;
}
/* portfolio */
.carousel{
	width:581px;
	overflow:hidden;
	position:relative;
	padding:0 0 0 82px;
	margin:0 0 0 42px;
}










